:root {
    --primary-color: rgb(95,205,95);
    --accent-color: rgb(25,25,25);
    --bg-color: rgb(254,254,254);
    --text-color:rgb(0,0,0);
    --font-main: 'Arial', sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid var(--accent-color);
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;
}